* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0px 15px;
}

a {
    text-decoration: none;
    color: #1E1E1E;
}

.navbar-element {
    font-family: "Jura", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 5px 10px
}


/* Hero section */

.hero {
    background-image: url("hero.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.hero h1 {
    font-family: "Josefin Slab", serif;
    font-size: 85px;
    font-weight: 700;
    color: #ffffff;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* second section */
.section2{
    height: 569px;
    background-color: rgba(180, 155, 44, 0.25);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.section2-left p{
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-size: 43px;
    line-height: 118%;
    letter-spacing: 10px;
    /* margin: 0 60px; */

}

.section2-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 569px;
    /* margin: 20px;  */
    /* margin: 0 auto; */
    /* width: 70%;  */
}

.section2-right {
    height: 569px;
}


.section2-right h3 {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 118%;
}

.remote-container {
    width: 400px;
    padding: 20px;
    border-color: #000000;
    border-style: solid;
    /* border-width: 10px 0 0 10px; */
      --s: 30px; /* the size on the corner */
  --t: 20px;  /* the thickness of the border */
  --g: 0px; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #000000; /* the color here */
  /* outline-offset: calc(-1*var(--t)); */
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
     0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    conic-gradient(#000 0 0) content-box;
  /* transition: .4s; */

}


.remote-list {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 19px;
    padding: 10px;
}

.text-green {
    color: #686931;
}

.sec2container-right {
    border-left: 1px solid #000000;
    padding: 50px;
}



/* section 3 */
.section3 {
    height: 515px;
    width: 100%;
    /* background-color: #000000; */
}

.section3-left{
    background-image: url("img-section3.jpg");
    /* width: 50%; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 515px;
}

.section3-right {
    background-color: #000000;
    color: #ffffff;
    /* text-align: center; */
    height: 515px;
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.customFlexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3-btn{
    border-radius: 35px;
    border: 3px solid white;
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 5px 30px;
    width: 309px;
    height: 77px;
}

.section3 a {
    color: #ffffff;
}

.btn-arrow{
    position: absolute;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    border: 3px solid white;
    height: 60px;
    width: 60px;
    color: #ffffff;
}

.btn-arrow a {
    font-size: 25px;
    color: #ffffff;
}
