* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0px 15px;
}

a {
    text-decoration: none;
    color: #1E1E1E;
}

.navbar-element {
    font-family: "Jura", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 5px 20px
}


/* Hero section */

.hero {
    background-image: url("hero.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.hero h1 {
    font-family: "Josefin Slab", serif;
    font-size: 85px;
    font-weight: 700;
    color: #ffffff;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* second section */
.section2{
    height: 569px;
    background-color: rgba(180, 155, 44, 0.25);
}

.section2-left p{
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-size: 43px;
    line-height: 118%;
    letter-spacing: 10px;
}

.section2-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 569px;
}

.section2-right {
    height: 569px;
}


.section2-right h3 {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 118%;
}

.middle-line {
    display: flex;
    align-items: center;
    height: 569px;
}

.remote-container {
    width: 400px;
    padding: 20px;
    --b: 10px; /* thickness of the border */
    --c: black; /* color of the border */
    --w: 50px; /* width of border */
 
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
 
    background: conic-gradient(
    from 90deg at top var(--b) left var(--b),
    var(--_g)) 0 0 / var(--_p), conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

.remote-list {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 19px;
    padding: 10px;
}

.text-green {
    color: #686931;
}

.sec2container-right {
    border-left: 1px solid #000000;
    padding: 50px;
}


/* section 3 */
.section3 {
    height: 515px;
    width: 100%;
    /* background-color: #000000; */
}

.section3-left{
    background-image: url("img-section3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 515px;
}

.section-btn {
    /* text-align: center; */
    height: 515px;
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.section-btn-black {
    background-color: #000000;
    color: #ffffff;
}

.customFlexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-btn {
    border-radius: 35px;
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 5px 30px;
    width: 309px;
    height: 77px;
}

.custom-btn-white {
    border: 3px solid white;
}

.custom-btn-black {
    border: 3px solid rgb(0, 0, 0);
}

.custom-btn-full {
    background-color: #000000;
    color: white;
}

.custom-btn-full a {
    color: white;
}


.section3 a {
    color: #ffffff;
}

.btn-arrow-right {
    position: absolute;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    border: 3px solid white;
    height: 60px;
    width: 60px;
    color: #ffffff;
}

.btn-arrow-left {
    position: absolute;
    bottom: 30px;
    left: 40px;
    border-radius: 50px;
    border: 3px solid black;
    height: 60px;
    width: 60px;
    color: #000000;
}

.section4{
    height: 541px;
    background-color: rgba(180, 155, 44, 0.25);
}


.section4-right {
    background-image: url("img-section4.jpg");
    background-size: cover;
    background-position: center;
    height: 541px;
}

.section-bottom {
    height: 690px;
    background-image: url("img-section-bottom.jpg");
    background-size: cover;
    background-position: center;
}

.btn-arrow-bottom {
    position: absolute;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    border: 3px solid black;
    height: 60px;
    width: 60px;
    color: #000000;
    font-weight: 700;
    font-size: 30px;
}


.footer-container {
    background-color: #000000;
}

footer {
    font-family: "Jura", sans-serif;
}

.footer-title {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}

.footer-author {
    color: #ffffff;
}



/* contacts page  */
.contacts-main {
    background: black;
    width: 100vw;

}

.contacts-main img {
    object-fit: cover;
    opacity: 0.6;
}